.advantages__title {
  padding: 0 19px;
  width: 282px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 32px;
  font-family: "PT Sans bold", sans-serif;
}

.advantages__reasons {
  padding: 0 19px;
  width: 282px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 32px;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__blue-block {
  width: 320px;
  padding: 22px 0px 26px 0px;
  background-color: #81B3D2;
  color: #FFFFFF;
}

.advantages__number {
  padding: 0 19px;
  display: block;
  text-align: center;
  margin-top: 11px;
  margin-bottom: 17px;
}

.advantages__description {
  padding: 0 19px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.advantages__image {
  margin-top: 25px;
}

.city__reasons-list {
  padding: 0 20px;
  text-align: left;
  list-style-type: none;
  padding: 0;

  .advantages__title {
    display: inline;
    position: absolute;
    text-align: left;
    margin-left: 8px;
    padding: 0;
  }

  .advantages__description {
    padding: 16px 0px 0px 45px;
    margin: 0;
    text-align: left;
  }

  .city__reasons-item {
    background-color: #FFFFFF;
  }

  .road,
  .area,
  .tourists {
    width: 320px;
    margin: 0;
    background-color: #EEEEEE;
    padding: 24px 0;
  }
}

.advantages__blue-block {
  margin-top: 52px;
}

.road {

    .advantages__title {
      margin: 0;
  }

  .advantages__description {
    margin: 0;
  }
}

.area {
    .advantages__title {
      margin: 0;
  }

  .advantages__description {
    margin: 0;
  }
}

.tourists {
    .advantages__title {
      margin: 0;
  }

  .advantages__description {
    margin: 0;
  }
}
