
.catalog__title-page {
  font-family: "PT Sans bold", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-top: 33px;
}

.catalog__description {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-top: 38px;
  margin-bottom: 53px;
  color: #333333;
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  padding-top: 24px;
  margin: 0;
}

.catalog__title {
  font-family: "PT Sans bold", sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 15px;
  color: #000000;
}

.catalog__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
}

.catalog__author {
margin: 0;
margin-top: 12px;
color: #333333;
margin-bottom: 16px;
}

.catalog__like {
  display: inline;
  font-family: "PT Sans bold", sans-serif;
}

.catalog__item {
  padding: 25px 20px 25px 20px;
}
