.location__google-maps {
  display: none;
}

.location__image {
  @media (min-width: @tablet-width) {
    background-image: url(../img/map-tablet.jpg);
    object-fit: scale-down;
    width: 768px;
    height: 350px;
  }

  @media (min-width: @desktop-width) {
    background-image: url(../img/map-desktop.jpg);
    width: 1200px;
    height: 350px;
  }
}

.location__wrapper {

  &::before {
    content: "";
    display: block;
    position: relative;
    top: 186px;
    left: 147px;
    width: 27px;
    height: 27px;
    background-color: @white-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    top: -190px;
    left: 152px;
    width: 17px;
    height: 17px;
    background-color: @label-color;
    border-radius: 50%;
  }

  @media (min-width: @tablet-width) {
    &::before {
      left: 373px;
    }

    &::after {
      left: 378px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      left: 589px;
    }

    &::after {
      left: 594px;
    }
  }
}
