.main-navigation__list {
  display: none;
  z-index: 1;
  list-style-type: none;
  position: absolute;
  top: -18px;
  right: 0;

  @media (min-width: @tablet-width) {
    width: 768px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    // right: -264px;
    top: 0;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    // right: -264px;
    top: 0;
    margin: 0;
  }
}

.main-navigation__toggle {
  background-color: white;
  cursor: pointer;
  border: none;
  height: 22px;
  margin-left: 25px;
  margin-top: 17px;
  padding: 0;
  background-image: url(../../img/icon-menu.svg);

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-navigation {
  // position: relative;
}

.main-navigation__item {
  text-transform: uppercase;
  background-color: #81B3D2;
  // min-width: 165px;
  text-align: center;
  padding: 17px 78px 12px 77px;
  box-shadow: 0px 1px 0px 0px #01010133 inset, 0px 2px 0px 0px #FFFFFF33 inset;
  min-height: 26px;

  &:last-child {
    border-bottom-color: linear-gradient(#00000000, #00000033);
  }

@media (min-width: @tablet-width) {

  &:nth-child(2) {
    // margin-right: 169px;
  }
  margin-top: 18px;
  background-color: #FFFFFF;
  padding: 0;
  box-shadow: none;
  // max-width: 152px;
}

@media (min-width: @desktop-width) {

  &:nth-child(2) {
    // margin-right: 169px;
  }
  margin-top: 18px;
  background-color: #FFFFFF;
  padding: 0;
  box-shadow: none;
  // max-width: 152px;
}
}

.main-navigation__link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "PT Sans bold", sans-serif;

  @media (min-width: @tablet-width) {
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    color: #000000;
  }
}


// .main-navigation {
//   width: auto;
//   min-width: 56px;
//   background-color: #81B3D2;
// }

// .main-navigation__wrapper {
//   position: absolute;
//   top: 0;
//   left: 0;
//   padding: 0;
// }

// .main-navigation__toggle {
//   position: absolute;
//   top: 17px;
//   right: 16px;
//   z-index: 2;
//   width: 23px;
//   height: 23px;
//   padding: 0;
//   border: none;
//   cursor: pointer;
//   background-color: transparent;

//   @media (min-width: @tablet-width) {
//     display: none;
//   }
// }

// .main-navigation__icon {
//   fill: #FFFFFF;

//   &--closed {
//     fill: #81B3D2;
//   }

//   &:hover {
//     opacity: 0.6;
//   }

//   &:active {
//     opacity: 0.3;
//   }
// }

// .main-navigation--closed .main-navigation__icon--opened {
//   display: none;
// }

// .main-navigation--opened .main-navigation__icon--closed {
//   display: none;
// }

// @media (max-width: @mobile-width-only) {
//   .main-navigation--closed .main-navigation__item {
//     display: none;
//   }
// }

// .main-navigation--opened .main-navigation__wrapper {
//   width: 320px;
// }

// .main-navigation__list {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;

//   @media (min-width: @tablet-width) {
//     width: 690px;
//     display: grid;
//     grid-template-columns: repeat(5, 153px);
//   }

//   @media (min-width: @desktop-width) {
//     width: 1038px;
//     grid-template-columns: repeat(5, 240px);
//   }
// }

// @media (min-width: @tablet-width) {
//   .main-navigation__item {

//     &:nth-child(3) {
//       grid-column: -2/-3;
//     }
//   }
// }

// .main-navigation__link {
//   display: block;
//   padding: 17px 20px 12px;
//   text-align: center;
//   font-size: 18px;
//   line-height: 26px;
//   font-weight: 700;
//   text-transform: uppercase;
//   text-decoration: none;
//   color: #FFFFFF;
//   background-color: #81B3D2;
//   box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;

//   @media (min-width: @tablet-width) {
//     padding: 18px 0 17px;
//     background: none;
//     box-shadow: none;
//     color: #000000;
//     font-size: 14px;
//     line-height: 21px;
//   }
// }
