.main-navigation__list {
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;


  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin: 0 auto;
    min-width: 768px;
    max-width: 1200px;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 51px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 23px;
  width: 23px;
  height: 4px;
  background-color: @starting-back-color;
  box-shadow: 0 9px 0 0 @starting-back-color, 0 18px 0 0 @starting-back-color;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.main-navigation--opened .main-navigation__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 27px;
    right: 17px;
    width: 32px;
    height: 4px;
    background-color: @white-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  &:hover::before &:hover::after {
    opacity: 60%;
  }

  &:active::before &:active::after {
    opacity: 30%;
  }
}

@media (max-width: @mobile-width-only) {
  .main-navigation--closed .main-navigation__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
}

.main-navigation__item {
  text-transform: uppercase;
  text-align: center;
  margin-top: 18px;

  &:nth-child(3) {
    @media (min-width: @tablet-width) {
      grid-column: -2/-3;
    }
  }

  @media (max-width: @mobile-width-only) {
    padding: 17px 0 12px 0;
    width: 100%;
    box-shadow: 0px 1px 0px 0px #01010133 inset, 0px 2px 0px 0px #FFFFFF33 inset;
    min-height: 26px;
    background-color: @starting-back-color;
    margin: 0;

    &:hover {
      background-color: @hover-color;
    }

    &:active {
      background-color: @active-color;
    }
  }
}


.main-navigation__link {
  text-decoration: none;
  color: @white-color;
  font-weight: 700;

  @media (max-width: @mobile-width-only) {
    &:active {
      color: @white-color;
      opacity: 30%;
    }
  }

  @media (min-width: @tablet-width) {
    color: @black-color;

    &--current {
      color: @current-page-color;
    }

    &:hover {
      color: @starting-back-color;
    }

    &:active {
      opacity: 30%;
    }
  }

  @media (min-width: @desktop-width) {
    color: @black-color;

    &--current {
      color: @current-page-color;
    }

    &:hover {
      color: @starting-back-color;
    }

    &:active {
      opacity: 30%;
    }
  }
}
