.main-footer__wrapper {
  padding: 44px 18px 23px 18px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 27px 61px 36px 61px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 41px 120px 36px 118px;
  }
}

.main-footer__hashtag-link {
  display: block;
  text-align: center;
  color: @black-color;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;

  @media (min-width: @tablet-width) {
    margin-top: 13px;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.copyright__image {
  margin-left: 12px;
  margin-top: 8px;

  @media (min-width: @tablet-width) {
    margin-top: 10px;
  }
}

.copyright__text {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @black-color;

  @media (min-width: @tablet-width) {
    margin: 15px 0 0;
  }
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 33px 0 33px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.social__link {
  display: block;
  max-height: 48px;
  max-width: 48px;
  background-color: @starting-back-color;
  width: 22px;
  height: 18px;
  padding: 15px 13px;
  margin-left: 6px;

  &:hover {
    background-color: @hover-color;
  }

  &:active .social__link-icon {
    opacity: 30%;
    background-color: @active-color;
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  text-decoration: none;


  &:hover .copyright__text {
    color: @starting-back-color;
  }

  &:hover .copyright__image {
    fill: @starting-back-color;
  }

  &:active .copyright__text {
    color: @active-link-color;
  }

  &:active .copyright__image {
    fill: @active-link-color;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
