// .main-navigation__list {
//   display: none;
// }

.main-navigation__toggle {
  background-color: white;
  cursor: pointer;
  border: none;
  margin-left: 25px;
  margin-top: 17px;
  padding: 0;
}

.main-header__logo {
  margin-left: 48px;
  z-index: 1;
}

.main-header {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
