.main-header {
  position: relative;
  display: flex;
  color: @black-color;
  padding: 0;
}

.main-header__logo {
  height: 96px;
  text-align: center;
  z-index: 1;
  margin: 0 0 -40px 67px;

  @media (min-width: @tablet-width) {
    z-index: 2;
    margin-left: 291px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 507px;
  }
}
