// .modal-error {
//   display: none;
// }

.modal-error__wrapper {
  padding: 45px 41px 35px 42px;

  @media (min-width: @tablet-width) {
    padding: 45px 184px 342px 184px;
  }

  @media (min-width: @desktop-width) {
    padding: 45px 400px 403px 400px;
  }
}

.modal-error__title {
  margin-top: 45px;
  margin-bottom: 37px;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans bold", sans-serif;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    padding: 0 46px;
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 46px;
    font-size: 30px;
  }
}

.modal-error__description {
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  color: #333333;
  font-size: 16px;

  @media (min-width: @tablet-width) {
    padding: 0 46px;
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 46px;
    font-size: 14px;
    line-height: 18px;
  }
}

.modal-error__button {
  width: 180px;
  margin-left: 29px;
  padding: 0;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    width: 272px;
    margin: 55px 64px 49px 64px;
  }

  @media (min-width: @desktop-width) {

    margin-left: 64px;
  }
}
