.modal-successfully {
  display: none;
}

.modal-successfully__wrapper {
  padding: 39px 20px 20px 20px;
  position: relative;
}

.modal-successfully__title {
  margin: 38px;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans bold", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.modal-successfully__description {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 60px;
}

.modal-button {
  width: 320px;
  height: 98px;
  background-color: #F2F2F2;
  position: absolute;
  left: 0;
}

.modal-successfully__button {
  position: absolute;
  right: 20px;
  top: 20px;
}
