.promo-block {
  background-image: url('../../img/back-form.jpg');
  padding: 52px 45px 67px 44px;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}

