.review__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.review__title {
  font-family: "PT Sans bold", sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin-top: 36px;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
}

.review__description {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-bottom: 28px;
}

.fieldset {
  border: none;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 29px;
}

.fieldset__title {
  font-family: "PT Sans bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  padding-top: 24px;
  display: block;
}

.fieldset__label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.fieldset__input {
  width: 248px;
  height: 26px;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans bold", sans-serif;
  border: none;
  padding: 16px;
}


.fieldset__form-contact {
  margin-top: 16px;

  .fieldset__input {
    color: #0000004D;
  }
}

.fieldset__item {
  .fieldset__label {
    font-family: "PT Sans bold", sans-serif;
    text-transform: none;
    font-size: 18px;
    line-height: 26px;
  }
}

.fieldset__list {
  padding: 0;
  list-style-type: none;
}

.fieldset__text {
  font-family: "PT Sans bold", sans-serif;
  width: 247px;
  height: 118px;
  margin-top: 20px;
  background-color: #F2F2F2;
  color: #0000004D;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  border: none;
  resize: none;
}

.fieldset__button {
  margin-top: 27px;
}

.fieldset__inscription {
  margin: 0;
  text-align: right;
  text-transform: uppercase;
  color: #33333399;
}
