.review__wrapper {
  padding: 0 20px;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    padding: 0 17px;
    margin-bottom: 81px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 77px;
  }
}

.review__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 36px 0 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-top: 64px;
    font-size: 30px;
    line-height: 26px;
    padding: 0 150px;
  }
}

.review__description {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: @auxiliary-color;
  margin: 0 0 28px;

  @media (min-width: @tablet-width) {
    margin: 20px 0 78px;
    font-size: 14px;
    line-height: 24px;
    padding: 0 150px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 257px;
  }
}

.review__form-flex {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.fieldset {
  border: none;
  padding: 24px 0 29px;
}

.fieldset__title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  padding: 24px 0 0;
  display: block;

  @media (min-width: @tablet-width) {
    padding-top: 48px;
    margin-bottom: 28px;
  }
}

.fieldset__label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: @auxiliary-color;
}

.fieldset__input {
  width: 248px;
  height: 26px;
  background-color: @light-gray-color;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  padding: 16px;
  font-family: inherit;

  @media (min-width: @desktop-width) {
    width: 398px;
  }
}

.fieldset__input--contact {
  color: @text-input-color;
  width: 190px;
  position: relative;

  @media (min-width: @desktop-width) {
    width: 344px;
  }
}

.fieldset__form {
  margin-top: 16px;

  @media (min-width: @desktop-width) {
    display: grid;
  }
}

.fieldset__svg {
  background-color: @contact-color;
  padding: 20px;
  width: 18px;
  height: 18px;
}

.fieldset__label--interview {
  position: relative;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  margin-left: 66px;
}

.fieldset__input--svg {
  display: flex;
}

.fieldset__list {
  list-style-type: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 46px;
    gap: 16px;
    padding: 0 36px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    padding: 0 113px;
  }
}

.fieldset__text {
  font-weight: 700;
  width: 247px;
  height: 118px;
  margin-top: 20px;
  background-color: @light-gray-color;
  color: @text-input-color;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  border: none;
  resize: none;
  font-family: inherit;

  @media (min-width: @tablet-width) {
    width: 616px;
    height: 180px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
    height: 160px;
    margin-left: 96px;
  }
}

.fieldset__button {
  margin-top: 27px;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 324px;
    margin: 48px 0 0 43px;
  }

  @media (min-width: @desktop-width) {
    width: 384px;
    margin-left: 139px;
  }
}

.fieldset__inscription {
  margin: 0;
  text-align: right;
  text-transform: uppercase;
  color: @inscription-color;

  @media (min-width: @tablet-width) {
    margin: 71px 0 0 168px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 259px;
  }
}

.review__fieldset {
  padding-top: 24px;
  margin: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 43px;
  }
}

.fieldset__item {
  margin-top: 36px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.fieldset__inscription-button {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.fieldset__marking--radio {
  position: absolute;
  top: -10px;
  left: -61px;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: @light-gray-color;

  &:hover {
    background-color: @disabled-color;
  }

  &:active {
    background-color: @active-review-color;
  }
}

.fieldset__input[type="radio"]:checked+.fieldset__marking--radio::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: @black-color;
  border-radius: 50%;
}

.fieldset__marking--checkbox {
  position: absolute;
  top: -10px;
  left: -61px;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  background-color: @light-gray-color;

  &:hover {
    background-color: @disabled-color;
  }

  &:active {
    background-color: @active-review-color;
  }
}

.fieldset__input[type="checkbox"]:checked+.fieldset__marking--checkbox::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 15px;
  background-image: url(../img/tick.svg);
  width: 22px;
  height: 16px;
}

.fieldset__list--checkbox {
  @media (min-width: @tablet-width) {
    margin-left: 48px;
  }
}
