.search {
  padding: 41px 18px 49px 18px;

  @media (min-width: @tablet-width) {
    padding: 73px 155px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 371px;
  }
}

.search__title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.search__description {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin: 23px 0 0;
}

.search__button {
  margin: 30px auto 0;
  line-height: 58px;

  @media (min-width: @tablet-width) {
    width: 458px;
    margin: 45px auto auto;
  }
}
