.video__wrapper{
padding: 0 20px;
}

.video_title {
  font-family: "PT Sans bold", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 39px;
  margin-top: 17px;
}

.video__description {
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 38px;
}

.video__pleer {
  display: block;
}
